extends layout

block content
    h1.text-primary= "Metrics"

    -var ob = JSON.parse(value)
    each val in ob
        li
        .col-md-1.float-left #{val.shop}
        .col-md-1.float-left #{val.location}
        .col-md-2.float-left #{val.run_id}
        .col-md-1.float-left #{val.origin}
        .col-md-1.float-left #{val.type}
        .col-md-1.float-left #{val.name}
        .col-md-2.float-left #{val.value}
        .col-md-1.float-left #{val.unit}
        .col-md-2.float-left #{val.measured_on}

